<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Covid testing center</title>
</head>
<body>
<div class="container text-center">
    <h1>Covid Test Center</h1>


    <th:block sec:authorize="!isAuthenticated()">
        <h2>Welcome, guest
        </h2>
        <h3><a th:href="@{/login}">Login</a></h3>
        <h3><a th:href="@{/register}">Register</a></h3>
    </th:block>
</div>
<div    class= "container text-center"
        sec:authorize="hasRole('ROLE_ADMIN')">
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/bookingList}">List of bookings</a></h3>

</div>

<div    class= "container text-center"
        sec:authorize="hasRole('ROLE_SECRETARY')">
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/bookingList}">List of bookings</a></h3>

</div>

<div    class= "container text-center"
        sec:authorize="hasRole('ROLE_USER')">
    <h2>Welcome <span sec:authentication="principal.name">name</span></h2>

    <h3><a th:href="@{/createBooking}">Book Appointment</a></h3>
    <h3><a th:href="@{/bookingList}">See your appointments</a></h3>

</div>


<div     class= "container text-center"
         sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>




</body>
</html>